/.idea

db.sqlite3
jornal.sqlite3

.env

/media_local

/config/__pycache__
/apps/__pycache__

/apps/accounts/migrations
/apps/accounts/__pycache__

/apps/guides/migrations
/apps/guides/__pycache__

/apps/journals/migrations
/apps/journals/__pycache__

/apps/patients/migrations
/apps/patients/__pycache__